*, html{
    margin: 0;
    padding: 0;
}

.container-navbar{
    background-color: rgba(101, 161, 221, 0.467);
    width: 100%;
    height: 100px;
}
.ul-navbar{  
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100px;
}
.li-navbar{
    border: 5px solid white;
    background-color: rgb(5, 81, 203);
    list-style-type: none;
    padding: 20px;
    color: white;
    margin: 5px;
}
.container-content{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-content{
 width: 30%;
 height: 30%;   
}